.footer{
    margin:0 48px 0 48px;
    max-width: 100%;
    position: relative;
    padding-bottom: 24px;
}
@media screen and (max-width:1023px) {
    .footer{
        margin:0 24px 0 24px;
    }
}
@media screen and (max-width:767px) {
    .footer{
        margin-bottom: 24px;
        margin-left:16px;
    }
}